@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #CAE7F2;
    --secondary: #E7CCF3;
    --background: #FFFFFF;
    --foreground: #111827;
    --surface: #F1F3E7;
    --accents: #CDE7CB;
    --card: #F1D9BB;
    --muted: #6B7280;
  }
}